.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px;
    margin: 50px 140px 20px;
}

.main-header .navigation .action {
    color: #212832;
    text-decoration: none;
    font-size: 17px;
    margin-left: 25px;
    margin-right: 25px;
}