.main-text {
    font-family: 'Volkhov';

}

.main-text.-title {
    width: 545px;
    color: #181E4B;
    letter-spacing: -4px;
    line-height: 89px;
    margin-top: 25px;
    font-size: 84px;
}

.main-text.-category {
    font-size: 50px;
    color: #14183E;
    text-align: center;
}