.main-section.-home{
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
}

.main-section.-home .decore {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

.main-section .info {
    margin-top: 110px;
}

.main-section .info-text {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    color: #DF6951;
}